body {
    font-family: 'Poppins';
}


/*Hero img*/
.hero {
  background-image: url('/img/Quequitos-1.jpg');
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}  

.mask {
  background-color: rgba(251, 251, 251, 0.6);
  width: 100%;
  height: 100vh;
  background-size: cover;
}

.hero-menu {
  background-image: url('/img/BG-menu.jpg');
  /*Photo by <a href="https://unsplash.com/@jamesdant?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">James Dant</a> on <a href="https://unsplash.com/s/photos/pancake-shop?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>*/
  
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}  

/****************************************/

/* Navbar */


.navbar-brand img {
  width: 250px;
  height: 50px;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  padding: 0px 0; }
  @media (min-width: 768px) {
    header {
      padding: 30px 0; } }
  header .navbar-brand {
    text-transform: uppercase;
    letter-spacing: .2em;
    font-weight: 800;
    font-size: 2rem; }
    header .navbar-brand.absolute {
      position: absolute; }
      @media (max-width: 991.98px) {
        header .navbar-brand.absolute {
          position: relative; } }
    header .navbar-brand span {
      color: #fff; }
      @media (min-width: 768px) {
        header .navbar-brand span {
          color: #ced4da; } }
  header .navbar {
    background: black !important;
    padding-top: .5rem;
    padding-bottom: .5rem; }
    @media (min-width: 768px) {
      header .navbar {
        padding-top: 0;
        padding-bottom: 0;
        background: none !important;
        position: relative; } }
    header .navbar .nav-link {
      padding: 1.7rem 1rem;
      outline: none !important;
      font-size: 1rem;
      color: rgba(255, 255, 255, 0.8) !important; }
      @media (max-width: 1199.98px) {
        header .navbar .nav-link {
          padding: .5rem 0rem; } }
      header .navbar .nav-link.active {
        color: #fff !important; }
    header .navbar .dropdown-menu {
      font-size: 14px;
      border-radius: 4px;
      border: none;
      -webkit-box-shadow: 0 2px 30px 0px rgba(0, 0, 0, 0.2);
      box-shadow: 0 2px 30px 0px rgba(0, 0, 0, 0.2);
      min-width: 13em;
      margin-top: -10px; }
      header .navbar .dropdown-menu:before {
        bottom: 100%;
        left: 10%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-bottom-color: #fff;
        border-width: 7px; }
        @media (max-width: 991.98px) {
          header .navbar .dropdown-menu:before {
            display: none; } }
      header .navbar .dropdown-menu .dropdown-item:hover {
        background: #007bff;
        color: #fff; }
      header .navbar .dropdown-menu .dropdown-item.active {
        background: #007bff;
        color: #fff; }
      header .navbar .dropdown-menu a {
        padding-top: 7px;
        padding-bottom: 7px; }
    header .navbar .cta-btn a {
      background: #007bff;
      color: #fff !important;
      text-transform: uppercase;
      font-size: .8rem;
      padding: 15px 20px !important;
      line-height: 1;
      font-weight: bold;
      -webkit-transition: .3s all ease;
      -o-transition: .3s all ease;
      transition: .3s all ease; }
      header .navbar .cta-btn a:hover {
        background: #fff;
        color: #007bff !important;
        -webkit-box-shadow: 2px 0 30px -5px rgba(0, 0, 0, 0.2);
        box-shadow: 2px 0 30px -5px rgba(0, 0, 0, 0.2); }
/********/
/*toggle btn*/



.benefits .card-body img {
    padding: 2rem;
    height: 400px;
    width: 400px;
}
.benefits.card {
    height: 500px;
}

.benefits .card-body h5, 
.benefits .card-body p {
    text-align: center;
}

.red{
    color: red !important;
  }
  
  footer {
    background-color: #f5f5f5;
    padding: 80px 0;
  }
.footer-widget h3 { margin-bottom: 30px;}

.contact-link{
      display:inline-block;
      width: 100%;
      color: #333;
    }

/*Testimonials*/
.carousel-item img {
    border-radius: 10px;
    width: 75vh;
    height: 80vh;
}
/* Block divider */
hr {
    border-color: #F05F44;
    height: 5px;
    width: 85%;
}


/*footer social*/
    
   .footer {
    background-color: #202126;
    padding: 7rem 0;
    color: #888;
    font-size: 16px; 
  }

    .footer, .footer h3 {
      font-family: "Poppins", sans-serif; }

    .footer h3 {
      font-size: 20px;
      color: #fff;
      margin-bottom: 30px; 
    }

    .footer p {
      font-family: "Source Serif Pro", serif; 
    }

    .footer .row.gallery {
      margin-right: -5px;
      margin-left: -5px; 
    }

      .footer .row.gallery > [class^="col-"],
      .footer .row.gallery > [class*=" col-"] {
        padding-right: 5px;
        padding-left: 5px; 
      }

    .footer .gallery a {
      display: block;
      margin-bottom: 10px;
      -webkit-transition: .3s all ease;
      -o-transition: .3s all ease;
      transition: .3s all ease; 
    }

      .footer .gallery a:hover {
        opacity: .5; 
      }

    .footer .quick-info li {
      color: #fff;
      font-size: 16px;
      margin-bottom: 10px; 
    }
 

      .footer .quick-info li a { color: #fff;}

    /*footer Socials*/
    /* Whatsapp */
.footer .quick-info .icon {
  color: green;
}

/* Gmail */
.footer .quick-info .icon-2 {
  color: red;
}

/* Instagram */
.footer .quick-info .icon-4 {
  color: orange;
}

/* Facebook */
.footer .tweets .icon-3,
.footer .quick-info .icon-3 {
  color: #007bff;
}

    .footer .subscribe { position: relative;}

      .footer .subscribe .form-control {
        background-color: #292b31;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-radius: 30px;
        height: 55px;
        padding-left: 30px;
        padding-right: 130px;
        border: none;
        color: #fff; 
      }

        .footer .subscribe .form-control::-webkit-input-placeholder {
          color: #ccc;
          font-size: 14px; 
        }

        .footer .subscribe .form-control::-moz-placeholder {
          color: #ccc;
          font-size: 14px; 
        }

        .footer .subscribe .form-control:-ms-input-placeholder {
          color: #ccc;
          font-size: 14px; 
        }

        .footer .subscribe .form-control:-moz-placeholder {
          color: #ccc;
          font-size: 14px; 
        }

      .footer .subscribe .btn-submit {
        background: #f88020;
        height: 47px;
        border-radius: 30px;
        padding-left: 30px;
        padding-right: 30px;
        color: #fff;
        font-weight: bold;
        position: absolute;
        top: 4px;
        right: 4px;
        -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2); 
      }

    .footer .tweets li {
      margin-bottom: 20px;
      font-size: 15px;
      font-style: italic;
      font-family: "Source Serif Pro", serif; 
    }

      .footer .tweets li span {color: #fff;}

    .footer .footer-menu-wrap {
      border-top: 1px solid rgba(255, 255, 255, 0.1);
      padding-top: 2rem !important;
      margin-top: 7rem; 
    }

    .footer .footer-menu {margin-bottom: 0;}

      .footer .footer-menu li {display: inline-block; }
        @media (max-width: 767.98px) {
          .footer .footer-menu li {
            display: block; } }
        .footer .footer-menu li a {
          padding: 10px;
          display: inline-block;
          color: #fff; 
        }

          @media (max-width: 767.98px) {
            .footer .footer-menu li a {
              float: left;
              padding-left: 1rem; 
            } 
          }
        .footer .footer-menu li:first-child a {padding-left: 1rem; }
    
@media (max-width: 767.98px) {
  .site-logo img {
    width: 465px;
    height: 150px;
  }
  
}